<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape https://cad.onshape.com/documents/cf89a5273767dbc9249dfc2f/w/99aa62980d718f944f8a09b3/e/f1ac1b722c44ad837fb6c466 -->
<robot name="poke_chassis">
  <!-- Rotate the complete robot 180 degrees around the base Z axis -->
  <link name="base_link"/>
  <joint name="base_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 3.141592653589793"/>
    <parent link="base_link"/>
    <child link="updownbase_urdf_asm"/>
  </joint>
  <!-- Link updownbase_urdf_asm -->
  <link name="updownbase_urdf_asm">
    <inertial>
      <origin xyz="-0.000723001 0.022141 0.146804" rpy="0 0 0"/>
      <mass value="21.8643"/>
      <inertia ixx="0.474266" ixy="0.0117404" ixz="-0.000542174" iyy="0.48894" iyz="0.00745325" izz="0.50382"/>
    </inertial>
    <!-- Part 4005 -->
    <visual>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/4005.stl"/>
      </geometry>
      <material name="4005_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/4005.stl"/>
      </geometry>
    </collision>
    <!-- Part 超声波传感器 -->
    <visual>
      <origin xyz="-1.47931e-11 -3.97571e-12 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/超声波传感器.stl"/>
      </geometry>
      <material name="超声波传感器_material">
        <color rgba="0.768627 0.886275 0.952941 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-1.47931e-11 -3.97571e-12 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/超声波传感器.stl"/>
      </geometry>
    </collision>
    <!-- Part rs02 -->
    <visual>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/rs02.stl"/>
      </geometry>
      <material name="rs02_material">
        <color rgba="0.301961 0.290196 0.262745 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/rs02.stl"/>
      </geometry>
    </collision>
    <!-- Part batt_s_d -->
    <visual>
      <origin xyz="-1.4793e-11 1.60544e-11 -0.0167724" rpy="8.68144e-11 -1.79174e-21 4.12774e-11"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/batt_s_d.stl"/>
      </geometry>
      <material name="batt_s_d_material">
        <color rgba="1 0.756863 0.054902 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-1.4793e-11 1.60544e-11 -0.0167724" rpy="8.68144e-11 -1.79174e-21 4.12774e-11"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/batt_s_d.stl"/>
      </geometry>
    </collision>
    <!-- Part rs02_2 -->
    <visual>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/rs02__2.stl"/>
      </geometry>
      <material name="rs02_2_material">
        <color rgba="0.301961 0.290196 0.262745 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/rs02__2.stl"/>
      </geometry>
    </collision>
    <!-- Part wheel_mot_con -->
    <visual>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_con.stl"/>
      </geometry>
      <material name="wheel_mot_con_material">
        <color rgba="0.768627 0.886275 0.952941 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_con.stl"/>
      </geometry>
    </collision>
    <!-- Part ld_b -->
    <visual>
      <origin xyz="-1.47932e-11 -3.97571e-12 -0.0169724" rpy="2.32171e-32 -0 2.77556e-17"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/ld_b.stl"/>
      </geometry>
      <material name="ld_b_material">
        <color rgba="0.917647 0.917647 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-1.47932e-11 -3.97571e-12 -0.0169724" rpy="2.32171e-32 -0 2.77556e-17"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/ld_b.stl"/>
      </geometry>
    </collision>
    <!-- Part mid_360 -->
    <visual>
      <origin xyz="-1.47944e-11 -3.97626e-12 -0.0169724" rpy="-9.26342e-16 8.88178e-16 2.63678e-16"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/mid_360.stl"/>
      </geometry>
      <material name="mid_360_material">
        <color rgba="0.768627 0.886275 0.952941 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-1.47944e-11 -3.97626e-12 -0.0169724" rpy="-9.26342e-16 8.88178e-16 2.63678e-16"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/mid_360.stl"/>
      </geometry>
    </collision>
    <!-- Part wheel_mot_stop -->
    <visual>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_stop.stl"/>
      </geometry>
      <material name="wheel_mot_stop_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_stop.stl"/>
      </geometry>
    </collision>
    <!-- Part 超声波传感器_2 -->
    <visual>
      <origin xyz="-1.4793e-11 -3.97582e-12 -0.0167724" rpy="-1.06254e-31 -0 3.44509e-16"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/超声波传感器__2.stl"/>
      </geometry>
      <material name="超声波传感器_2_material">
        <color rgba="0.768627 0.886275 0.952941 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-1.4793e-11 -3.97582e-12 -0.0167724" rpy="-1.06254e-31 -0 3.44509e-16"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/超声波传感器__2.stl"/>
      </geometry>
    </collision>
    <!-- Part wheel_mot_back -->
    <visual>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_back.stl"/>
      </geometry>
      <material name="wheel_mot_back_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_back.stl"/>
      </geometry>
    </collision>
    <!-- Part wheel_mot_back_2 -->
    <visual>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_back__2.stl"/>
      </geometry>
      <material name="wheel_mot_back_2_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_back__2.stl"/>
      </geometry>
    </collision>
    <!-- Part cahssis_s_d -->
    <visual>
      <origin xyz="-1.47931e-11 -3.97571e-12 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/cahssis_s_d.stl"/>
      </geometry>
      <material name="cahssis_s_d_material">
        <color rgba="0.87451 0.87451 0.87451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-1.47931e-11 -3.97571e-12 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/cahssis_s_d.stl"/>
      </geometry>
    </collision>
    <!-- Part wheel_mot_base -->
    <visual>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_base.stl"/>
      </geometry>
      <material name="wheel_mot_base_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_base.stl"/>
      </geometry>
    </collision>
    <!-- Part cahssis_s_u -->
    <visual>
      <origin xyz="-1.47932e-11 -3.97582e-12 -0.0169724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/cahssis_s_u.stl"/>
      </geometry>
      <material name="cahssis_s_u_material">
        <color rgba="0.87451 0.87451 0.87451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-1.47932e-11 -3.97582e-12 -0.0169724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/cahssis_s_u.stl"/>
      </geometry>
    </collision>
    <!-- Part wheel_mot_drv -->
    <visual>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_drv.stl"/>
      </geometry>
      <material name="wheel_mot_drv_material">
        <color rgba="0.498039 0.498039 0.498039 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_drv.stl"/>
      </geometry>
    </collision>
    <!-- Part wheel_mot_back_3 -->
    <visual>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_back__3.stl"/>
      </geometry>
      <material name="wheel_mot_back_3_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_back__3.stl"/>
      </geometry>
    </collision>
    <!-- Part rs02_3 -->
    <visual>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/rs02__3.stl"/>
      </geometry>
      <material name="rs02_3_material">
        <color rgba="0.301961 0.290196 0.262745 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/rs02__3.stl"/>
      </geometry>
    </collision>
    <!-- Part wheel_mot_back_4 -->
    <visual>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_back__4.stl"/>
      </geometry>
      <material name="wheel_mot_back_4_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_back__4.stl"/>
      </geometry>
    </collision>
    <!-- Part wheel_mot_drv_2 -->
    <visual>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_drv__2.stl"/>
      </geometry>
      <material name="wheel_mot_drv_2_material">
        <color rgba="0.498039 0.498039 0.498039 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_drv__2.stl"/>
      </geometry>
    </collision>
    <!-- Part batt_sm_r -->
    <visual>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/batt_sm_r.stl"/>
      </geometry>
      <material name="batt_sm_r_material">
        <color rgba="0.917647 0.917647 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/batt_sm_r.stl"/>
      </geometry>
    </collision>
    <!-- Part batt_s_d_2 -->
    <visual>
      <origin xyz="-1.76671e-11 6.07492e-12 -0.0167724" rpy="4.37526e-11 7.12765e-24 -2.06389e-11"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/batt_s_d__2.stl"/>
      </geometry>
      <material name="batt_s_d_2_material">
        <color rgba="1 0.756863 0.054902 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-1.76671e-11 6.07492e-12 -0.0167724" rpy="4.37526e-11 7.12765e-24 -2.06389e-11"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/batt_s_d__2.stl"/>
      </geometry>
    </collision>
    <!-- Part wheel_mot_base_2 -->
    <visual>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_base__2.stl"/>
      </geometry>
      <material name="wheel_mot_base_2_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_base__2.stl"/>
      </geometry>
    </collision>
    <!-- Part mid_360_2 -->
    <visual>
      <origin xyz="-1.47933e-11 -3.97571e-12 -0.0169724" rpy="2.32171e-32 -0 2.77556e-17"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/mid_360__2.stl"/>
      </geometry>
      <material name="mid_360_2_material">
        <color rgba="0.768627 0.886275 0.952941 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-1.47933e-11 -3.97571e-12 -0.0169724" rpy="2.32171e-32 -0 2.77556e-17"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/mid_360__2.stl"/>
      </geometry>
    </collision>
    <!-- Part rs02_4 -->
    <visual>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/rs02__4.stl"/>
      </geometry>
      <material name="rs02_4_material">
        <color rgba="0.301961 0.290196 0.262745 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/rs02__4.stl"/>
      </geometry>
    </collision>
    <!-- Part wheel_mot_stop_2 -->
    <visual>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_stop__2.stl"/>
      </geometry>
      <material name="wheel_mot_stop_2_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_stop__2.stl"/>
      </geometry>
    </collision>
    <!-- Part motor -->
    <visual>
      <origin xyz="-0.00121192 -0.00411612 -0.0197724" rpy="-2.07752e-16 -3.02916e-17 1.71917e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/motor.stl"/>
      </geometry>
      <material name="motor_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00121192 -0.00411612 -0.0197724" rpy="-2.07752e-16 -3.02916e-17 1.71917e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/motor.stl"/>
      </geometry>
    </collision>
    <!-- Part 超声波传感器_3 -->
    <visual>
      <origin xyz="-1.4793e-11 -3.97582e-12 -0.0167724" rpy="-1.6226e-31 -0 2.77556e-16"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/超声波传感器__3.stl"/>
      </geometry>
      <material name="超声波传感器_3_material">
        <color rgba="0.768627 0.886275 0.952941 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-1.4793e-11 -3.97582e-12 -0.0167724" rpy="-1.6226e-31 -0 2.77556e-16"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/超声波传感器__3.stl"/>
      </geometry>
    </collision>
    <!-- Part 超声波传感器_4 -->
    <visual>
      <origin xyz="-1.4793e-11 -3.97582e-12 -0.0167724" rpy="-1.6226e-31 -0 2.77556e-16"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/超声波传感器__4.stl"/>
      </geometry>
      <material name="超声波传感器_4_material">
        <color rgba="0.768627 0.886275 0.952941 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-1.4793e-11 -3.97582e-12 -0.0167724" rpy="-1.6226e-31 -0 2.77556e-16"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/超声波传感器__4.stl"/>
      </geometry>
    </collision>
    <!-- Part wheel_mot_con_2 -->
    <visual>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_con__2.stl"/>
      </geometry>
      <material name="wheel_mot_con_2_material">
        <color rgba="0.768627 0.886275 0.952941 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_con__2.stl"/>
      </geometry>
    </collision>
    <!-- Part njtc01_t002_中管 -->
    <visual>
      <origin xyz="0.222567 0.64821 -0.294546" rpy="-2.13708e-17 2.90753e-15 1.66285e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/njtc01_t002_中管.stl"/>
      </geometry>
      <material name="njtc01_t002_中管_material">
        <color rgba="0.792157 0.819608 0.933333 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.222567 0.64821 -0.294546" rpy="-2.13708e-17 2.90753e-15 1.66285e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/njtc01_t002_中管.stl"/>
      </geometry>
    </collision>
    <!-- Part 4005_2 -->
    <visual>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/4005__2.stl"/>
      </geometry>
      <material name="4005_2_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/4005__2.stl"/>
      </geometry>
    </collision>
    <!-- Part chassis_base -->
    <visual>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/chassis_base.stl"/>
      </geometry>
      <material name="chassis_base_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/chassis_base.stl"/>
      </geometry>
    </collision>
    <!-- Part 超声波传感器_5 -->
    <visual>
      <origin xyz="-1.4793e-11 -3.9756e-12 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/超声波传感器__5.stl"/>
      </geometry>
      <material name="超声波传感器_5_material">
        <color rgba="0.768627 0.886275 0.952941 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-1.4793e-11 -3.9756e-12 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/超声波传感器__5.stl"/>
      </geometry>
    </collision>
    <!-- Part wheel_mot_con_3 -->
    <visual>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_con__3.stl"/>
      </geometry>
      <material name="wheel_mot_con_3_material">
        <color rgba="0.768627 0.886275 0.952941 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_con__3.stl"/>
      </geometry>
    </collision>
    <!-- Part 4005_3 -->
    <visual>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/4005__3.stl"/>
      </geometry>
      <material name="4005_3_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/4005__3.stl"/>
      </geometry>
    </collision>
    <!-- Part wheel_mot_stop_3 -->
    <visual>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_stop__3.stl"/>
      </geometry>
      <material name="wheel_mot_stop_3_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_stop__3.stl"/>
      </geometry>
    </collision>
    <!-- Part wheel_mot_base_3 -->
    <visual>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_base__3.stl"/>
      </geometry>
      <material name="wheel_mot_base_3_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_base__3.stl"/>
      </geometry>
    </collision>
    <!-- Part chassis_b -->
    <visual>
      <origin xyz="-0.00121192 0.000883883 -0.0152724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/chassis_b.stl"/>
      </geometry>
      <material name="chassis_b_material">
        <color rgba="0.298039 0.298039 0.298039 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00121192 0.000883883 -0.0152724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/chassis_b.stl"/>
      </geometry>
    </collision>
    <!-- Part batt_s_u -->
    <visual>
      <origin xyz="-1.7667e-11 6.07492e-12 -0.0167724" rpy="4.37526e-11 7.12765e-24 -2.06389e-11"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/batt_s_u.stl"/>
      </geometry>
      <material name="batt_s_u_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-1.7667e-11 6.07492e-12 -0.0167724" rpy="4.37526e-11 7.12765e-24 -2.06389e-11"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/batt_s_u.stl"/>
      </geometry>
    </collision>
    <!-- Part wheel_mot_drv_3 -->
    <visual>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_drv__3.stl"/>
      </geometry>
      <material name="wheel_mot_drv_3_material">
        <color rgba="0.498039 0.498039 0.498039 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_drv__3.stl"/>
      </geometry>
    </collision>
    <!-- Part wheel_mot_con_4 -->
    <visual>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_con__4.stl"/>
      </geometry>
      <material name="wheel_mot_con_4_material">
        <color rgba="0.768627 0.886275 0.952941 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_con__4.stl"/>
      </geometry>
    </collision>
    <!-- Part batt_s_u_2 -->
    <visual>
      <origin xyz="-1.47931e-11 1.60544e-11 -0.0167724" rpy="8.68144e-11 -1.79174e-21 4.12774e-11"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/batt_s_u__2.stl"/>
      </geometry>
      <material name="batt_s_u_2_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-1.47931e-11 1.60544e-11 -0.0167724" rpy="8.68144e-11 -1.79174e-21 4.12774e-11"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/batt_s_u__2.stl"/>
      </geometry>
    </collision>
    <!-- Part batt_sm_l -->
    <visual>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/batt_sm_l.stl"/>
      </geometry>
      <material name="batt_sm_l_material">
        <color rgba="0.917647 0.917647 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/batt_sm_l.stl"/>
      </geometry>
    </collision>
    <!-- Part wheel_mot_base_4 -->
    <visual>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_base__4.stl"/>
      </geometry>
      <material name="wheel_mot_base_4_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_base__4.stl"/>
      </geometry>
    </collision>
    <!-- Part 4005_4 -->
    <visual>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/4005__4.stl"/>
      </geometry>
      <material name="4005_4_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/4005__4.stl"/>
      </geometry>
    </collision>
    <!-- Part wheel_mot_stop_4 -->
    <visual>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_stop__4.stl"/>
      </geometry>
      <material name="wheel_mot_stop_4_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_stop__4.stl"/>
      </geometry>
    </collision>
    <!-- Part ld_b_2 -->
    <visual>
      <origin xyz="-1.47932e-11 -3.97582e-12 -0.0169724" rpy="-1.63064e-16 5.55112e-17 5.55112e-17"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/ld_b__2.stl"/>
      </geometry>
      <material name="ld_b_2_material">
        <color rgba="0.917647 0.917647 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-1.47932e-11 -3.97582e-12 -0.0169724" rpy="-1.63064e-16 5.55112e-17 5.55112e-17"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/ld_b__2.stl"/>
      </geometry>
    </collision>
    <!-- Part 超声波传感器_6 -->
    <visual>
      <origin xyz="-1.4793e-11 -3.97571e-12 -0.0167724" rpy="-8.3297e-32 -0 -9.95799e-17"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/超声波传感器__6.stl"/>
      </geometry>
      <material name="超声波传感器_6_material">
        <color rgba="0.768627 0.886275 0.952941 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-1.4793e-11 -3.97571e-12 -0.0167724" rpy="-8.3297e-32 -0 -9.95799e-17"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/超声波传感器__6.stl"/>
      </geometry>
    </collision>
    <!-- Part njtc01_t003_外管 -->
    <visual>
      <origin xyz="0.222567 0.64821 0.010454" rpy="-6.45838e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/njtc01_t003_外管.stl"/>
      </geometry>
      <material name="njtc01_t003_外管_material">
        <color rgba="0.792157 0.819608 0.933333 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.222567 0.64821 0.010454" rpy="-6.45838e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/njtc01_t003_外管.stl"/>
      </geometry>
    </collision>
    <!-- Part wheel_mot_drv_4 -->
    <visual>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_drv__4.stl"/>
      </geometry>
      <material name="wheel_mot_drv_4_material">
        <color rgba="0.498039 0.498039 0.498039 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00121192 0.000883883 -0.0167724" rpy="-5.01545e-45 -0 1.72499e-30"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/wheel_mot_drv__4.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link ow150_sk_tt_l_00_6寸全向轮_ad -->
  <link name="ow150_sk_tt_l_00_6寸全向轮_ad">
    <inertial>
      <origin xyz="-1.54992e-07 -3.552e-08 0.0021919" rpy="0 0 0"/>
      <mass value="0.9"/>
      <inertia ixx="0.00150934" ixy="-6.21923e-09" ixz="2.67456e-10" iyy="0.00150933" iyz="-8.66274e-10" izz="0.00281989"/>
    </inertial>
    <!-- Part ow150_sk_tt_l_00_6寸全向轮_ad -->
    <visual>
      <origin xyz="5.32614e-17 -4.16334e-17 0.0159986" rpy="-1.5708 -1.01465e-17 4.09935e-15"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/ow150_sk_tt_l_00_6寸全向轮_ad.stl"/>
      </geometry>
      <material name="ow150_sk_tt_l_00_6寸全向轮_ad_material">
        <color rgba="0.823529 0.823529 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="5.32614e-17 -4.16334e-17 0.0159986" rpy="-1.5708 -1.01465e-17 4.09935e-15"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/ow150_sk_tt_l_00_6寸全向轮_ad.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from updownbase_urdf_asm to ow150_sk_tt_l_00_6寸全向轮_ad -->
  <joint name="wheel_rear_left" type="continuous">
    <origin xyz="0.177071 -0.177399 0.0632276" rpy="1.5708 3.54646e-45 0.785398"/>
    <parent link="updownbase_urdf_asm"/>
    <child link="ow150_sk_tt_l_00_6寸全向轮_ad"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Link ow150_sk_tt_l_00_6寸全向轮_ad_2 -->
  <link name="ow150_sk_tt_l_00_6寸全向轮_ad_2">
    <inertial>
      <origin xyz="-1.54992e-07 -3.552e-08 0.0021919" rpy="0 0 0"/>
      <mass value="0.9"/>
      <inertia ixx="0.00150934" ixy="-6.21923e-09" ixz="2.67456e-10" iyy="0.00150933" iyz="-8.66274e-10" izz="0.00281989"/>
    </inertial>
    <!-- Part ow150_sk_tt_l_00_6寸全向轮_ad_2 -->
    <visual>
      <origin xyz="-2.14672e-17 0 0.0159986" rpy="-1.5708 1.01465e-17 -1.73341e-15"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/ow150_sk_tt_l_00_6寸全向轮_ad.stl"/>
      </geometry>
      <material name="ow150_sk_tt_l_00_6寸全向轮_ad_2_material">
        <color rgba="0.823529 0.823529 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-2.14672e-17 0 0.0159986" rpy="-1.5708 1.01465e-17 -1.73341e-15"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/ow150_sk_tt_l_00_6寸全向轮_ad.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from updownbase_urdf_asm to ow150_sk_tt_l_00_6寸全向轮_ad_2 -->
  <joint name="wheel_front_left" type="continuous">
    <origin xyz="-0.179494 -0.177399 0.0632276" rpy="1.5708 -3.54646e-45 -0.785398"/>
    <parent link="updownbase_urdf_asm"/>
    <child link="ow150_sk_tt_l_00_6寸全向轮_ad_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Link ow150_sk_tt_l_00_6寸全向轮_ad_3 -->
  <link name="ow150_sk_tt_l_00_6寸全向轮_ad_3">
    <inertial>
      <origin xyz="-1.54992e-07 3.552e-08 -0.0021919" rpy="0 0 0"/>
      <mass value="0.9"/>
      <inertia ixx="0.00150934" ixy="6.21923e-09" ixz="-2.67456e-10" iyy="0.00150933" iyz="-8.66274e-10" izz="0.00281989"/>
    </inertial>
    <!-- Part ow150_sk_tt_l_00_6寸全向轮_ad_3 -->
    <visual>
      <origin xyz="-2.9924e-17 1.38778e-17 -0.0159986" rpy="1.5708 -1.01465e-17 1.73341e-15"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/ow150_sk_tt_l_00_6寸全向轮_ad.stl"/>
      </geometry>
      <material name="ow150_sk_tt_l_00_6寸全向轮_ad_3_material">
        <color rgba="0.823529 0.823529 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-2.9924e-17 1.38778e-17 -0.0159986" rpy="1.5708 -1.01465e-17 1.73341e-15"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/ow150_sk_tt_l_00_6寸全向轮_ad.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from updownbase_urdf_asm to ow150_sk_tt_l_00_6寸全向轮_ad_3 -->
  <joint name="wheel_rear_right" type="continuous">
    <origin xyz="0.177071 0.179166 0.0632276" rpy="-1.5708 -3.54646e-45 -0.785398"/>
    <parent link="updownbase_urdf_asm"/>
    <child link="ow150_sk_tt_l_00_6寸全向轮_ad_3"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Link ow150_sk_tt_l_00_6寸全向轮_ad_4 -->
  <link name="ow150_sk_tt_l_00_6寸全向轮_ad_4">
    <inertial>
      <origin xyz="-1.54992e-07 3.552e-08 -0.0021919" rpy="0 0 0"/>
      <mass value="0.9"/>
      <inertia ixx="0.00150934" ixy="6.21923e-09" ixz="-2.67456e-10" iyy="0.00150933" iyz="-8.66274e-10" izz="0.00281989"/>
    </inertial>
    <!-- Part ow150_sk_tt_l_00_6寸全向轮_ad_4 -->
    <visual>
      <origin xyz="2.61022e-17 4.16334e-17 -0.0159986" rpy="1.5708 1.01465e-17 -4.09935e-15"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/ow150_sk_tt_l_00_6寸全向轮_ad.stl"/>
      </geometry>
      <material name="ow150_sk_tt_l_00_6寸全向轮_ad_4_material">
        <color rgba="0.823529 0.823529 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="2.61022e-17 4.16334e-17 -0.0159986" rpy="1.5708 1.01465e-17 -4.09935e-15"/>
      <geometry>
        <mesh filename="package://nav_bringup/meshes/ow150_sk_tt_l_00_6寸全向轮_ad.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from updownbase_urdf_asm to ow150_sk_tt_l_00_6寸全向轮_ad_4 -->
  <joint name="wheel_front_right" type="continuous">
    <origin xyz="-0.179494 0.179166 0.0632276" rpy="-1.5708 3.54646e-45 0.785398"/>
    <parent link="updownbase_urdf_asm"/>
    <child link="ow150_sk_tt_l_00_6寸全向轮_ad_4"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
</robot>
